.grid-1-2-fr {
    padding: 0px 100px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.cover-container {
    display: grid;
    place-items: center;
}

.text-container {
}

.paper-cover {
    height: 300px;
}
