@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap');

/* ------------------------------------- */
/*               UTILS                   */
/* ------------------------------------- */

.center {
    display: grid;
    place-items: center;
}

* {
    font-family: 'Quicksand', sans-serif;
}

.darkmode {
    background-color: black;
    filter: invert() hue-rotate(180deg) brightness(100%) contrast(105%);
}

.center-text {
    margin: 0 auto;
    text-align: center;
}

.padding-20 {
    padding: 20px;
    box-sizing: border-box;
}

.grid-3-cols {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid-2-cols {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
/*    display: flex;
    justify-content: center;
    gap: 60px; */
}

@media screen and (max-width: 600px) {
    .grid-3-cols {
        grid-template-columns: 1fr;
    }
    .grid-2-cols {
        grid-template-columns: 1fr;
    }
}

.grid-1-2-fr {
    padding: 0px 75px;
    display: grid;
    grid-template-columns: 1fr;
}

@media screen and (min-width: 800px) {
    .grid-1-2-fr {
        padding: 0px 100px;
        grid-template-columns: 1fr 2fr;
    }
}

/* ------------------------------------- */
/*               HOME                    */
/* ------------------------------------- */

@media screen and (max-width: 800px) {
    .home-animation {
        width: 200px;
    }
}

/* ------------------------------------- */
/*               LINKS                   */
/* ------------------------------------- */

a {
    color: grey;
    text-decoration: none;
}

.hover-animation {
  display: inline-block;
  position: relative;
  color: grey;
}

.hover-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: grey;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* ------------------------------------- */
/*             DARK MODE                 */
/* ------------------------------------- */


@media (prefers-color-scheme: dark) {
    background: black;
    color: white;
}

@media screen and (max-width: 800px) {
    .title {
        text-align: center;
        font-size: large;
    }
}

/* research page styles */

.cover-container {
    display: grid;
    place-items: center;
    height: 300px;
}

.text-container {
}

.paper-cover {
    height: 300px;
}


/* ------------------------------------- */
/*              IMAGES                   */
/* ------------------------------------- */

.reversed > img {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.img-txt-grid {
    padding: 0px 0px;
    display: grid;
    grid-template-columns: 1fr;
}

@media screen and (min-width: 800px) {
    .img-txt-grid {
        padding: 75px 75px;
        grid-template-columns: 1fr 2fr;
    }
}

.left-container {
    float: right;
    padding: 30px 30px;
}

.extra-padding {
    padding: 0px 0px;
}

.right-container {
    float: left;
    padding: 10px 30px;
    box-sizing: border-box;
}

.left-image-container {
    max-width: 100%;
    display: grid;
    place-items: center;
}

.left-image {
    max-height: 300px;
    max-width: min(300px, 100%);
}

.cols-2-degs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
}

@media screen and (min-width: 800px) {
    .left-image-container {
        /* height: 300px; */
    }
}
