@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

.center {
    display: grid;
    place-items: center;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Quicksand', sans-serif;
}

.center-text {
    margin: 0 auto;
    text-align: center;
}
